.menu-container {
  width: 80%;
  margin: auto;
}

.menu-title {
  font-size: 36px;  
  font-weight: bold; 
  color: #333; 
  margin-bottom: 20px; 
  text-align: center;
}

.category-container {
  display: flex; 
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex: 1 1 200px; 
}

.menu-item-image {
  width: 30px; 
  height: auto;
  margin-right: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
