.app {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.stars {
    display: inline-block;
}

.star {
    font-size: 30px; 
    color: #FFD700; 
}

.filled {
    color: #FFD700;
}

.empty {
    color: #DDD;
}
  
.restaurant-content {
    display: flex;
    width: 100vw; 
}

.restaurant-info {
    background-color: #f9f9f9; 
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 1.2rem;
}

.restaurant-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.restaurant-image {
    width: 50vw;
    height: 100%;
    overflow: hidden;
}

.restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.rest-button {
    flex-grow: 1; 
    background-color: orange;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rest-button:hover {
    background-color: #ffa500; 
}

.container-wrapper {
    display: flex;
    width: 100vw; 
}

.testimonial-container,
.deals-container {
    flex: 1;
}

.deals-container {
    flex: .5;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.deals-image {
    width: 100%;
    height: auto;
    display: block;
}

.deals-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
}

.deals-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

    .deals-description {
    font-size: 1rem;
}
  